

.paginationFloat{
  float: right;
  cursor: pointer;
   span {color: orange; }
}
.pointer{
  cursor: pointer;
}

.makeBold{
  font-weight: bold;
}

.title{
  color: darkcyan;
}

.tableHead{
  background-color: #ff8d00;
  color: white;
}